*.a
*.log
*.o
*.trs
.dirstamp
/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/cabextract
/cabextract-*
/cabextract-*.tar.gz
/cabextract.spec
/compile
/config.*
/configure
/install-sh
/missing
/src/cabinfo
/stamp-h1
/test-driver
/test/testcase
