*.a
*.o
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
cabextract
cabextract-*
cabextract-*.tar.gz
cabextract.spec
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
stamp-h1
