*.lo
*.log
*.o
*.trs
.deps
.dirstamp
.libs
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/doc/html
/examples/cabd_memory
/examples/cabrip
/examples/chmextract
/examples/msexpand
/examples/multifh
/examples/oabextract
/install-sh
/lib*.la
/libmspack-*.tar.gz
/libmspack.pc
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/test-driver
/test/cabd_md5
/test/cabd_test
/test/chmd_find
/test/chmd_md5
/test/chmd_order
/test/chmd_test
/test/chminfo
/test/kwajd_test
