.libs
INSTALL
/Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
lib*.la
libmspack-*.tar.gz
libmspack.pc
libtool
ltmain.sh
m4
missing
stamp-h1
test-driver
test-suite.log
